body {
	background-color: #fff;
}
#container {
  background-color: #ffe5d9;
	overflow: hidden;
}
#map_body {
	overflow: hidden;
}

#header {
    border: 0;
    background-color: #ffe5d9;
	text-align: center;
}
	#titleline {
		margin: 0 0 10px 0;
	}
	#header h2 {
		clear: both;
		margin: 0 auto;
		width: 559px;
		height: 41px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../img/header_bingo.png) no-repeat;
		position: relative;
		top: 5px;
	}

#meta-container {
	text-align: center;
}
#chart-container {
    width: 584px;
    height: 590px;
	margin: 0 auto;
}
	.card {
	    width: 112px;
	    height: 112px;
	    font-size: 12px;
	    line-height: 16px;
	    float: left;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    display: table;
	    background-color: #fff;
	    background-image: url(../img/piece_bg.png);
			background-size: 100%;
	    text-transform: uppercase;
		cursor: pointer;
		}

	}
	.free {
	    background-image: url(../img/piece_free.png);
			background-size: 100%;
	}
	.chip {
	    background-image: url(../img/piece_chip.png);
			background-size: 100%;
	}
	.freechip {
	    background-image: url(../img/piece_free_chip.png);
			background-size: 100%;
	}
	.card-text {
	    margin: auto;
	    text-align: center;
	    vertical-align: middle;
	    display: table-cell;
	    padding: 4px;
	}

#bingo-footer {
	width: 584px;
	height: 75px;
    margin: 0 auto 18px auto;
	padding: 0;
    position: relative;
	overflow: hidden;
	background: url(../img/bottombingo600x75.png) no-repeat -10px 0;
	text-align: center;
}


@media (max-width: 600px) {

	#header h2 {
		width: 350px;
		background-size: 100%;
	}

	#chart-container {
			width: 350px;
			height: 353px;
	}

	.card {
			width: 65px;
			height: 65px;
			font-size: 6px;
			line-height: 6px;
			margin-left: 2px;
			margin-bottom: 2px;
	}

	#bingo-footer {
		width: 100%;
		background-size: 100%;
	}

	#yell-button {
		width: 200px;
	}
}
